<div class="factureMain">
  <table style="width: 500px">
    <tr>
      <th colspan="2">TOPNET</th>
    </tr>
    <tr>
      <td class="firstTd">Nom et Prénom:</td>
      <td>aridhi seif</td>
    </tr>
    <tr>
      <td>Téléphone ADSL:</td>
      <td>78620005</td>
    </tr>
    <tr>
      <td>Facture:</td>
      <td>11</td>
    </tr>
    <tr>
      <td>date début période:</td>
      <td>01/01/2022</td>
    </tr>
    <tr>
      <td>date fin période:</td>
      <td>01/02/2022</td>
    </tr>
    <tr>
      <td>montant:</td>
      <td>40.000</td>
    </tr>
  </table>
</div>
