* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.ring {
  border: 2px solid #2f78ed;
  padding: 2px;
}
.loginBody {
  border: 1px solid #2f78ed;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.SginInContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.SgininBox {
  display: flex;
  flex-direction: column;
  border: 2px solid green;

  padding: 10px;
  width: 300px;
  border-radius: 9px;
}

.Input {
  margin-bottom: 10px;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #949494;
}

.Input:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(9, 121, 22);
  transition: 0.1s;
}

.Input:focus {
  border-bottom-color: rgb(9, 121, 22);
}

.btnSave {
  background: none;
  border: none;
  border: 2px solid rgb(9, 121, 22);
  color: rgb(9, 121, 22);
  border-radius: 15px;
  width: 150px;
}

.btnSave:hover {
  width: 200px;
  background-color: rgb(9, 121, 22);
  color: white;
  transition: 0.25s;
}

.btnSave:active {
  background-color: #0d4a06;
}
