.main {
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
  height: 100%;
}

.main-body {
  display: flex;
  width: 100%;
  margin: 10px;

  border: 2px solid #4c5aea;
  border-radius: 5px;
}
