facture works!
<div>
  <form action="#">
    <div class="factContainer">
      <table>
        <tr>
          <td>Nom et Prénom:</td>
          <td><input type="string" /></td>
        </tr>
        <tr>
          <td>Telephone:</td>
          <td><input type="string" /></td>
        </tr>
        <tr>
          <td>Date début période:</td>
          <td><input type="date" /></td>
        </tr>
        <tr>
          <td>Date fin période:</td>
          <td><input type="date" /></td>
        </tr>
        <tr>
          <td>Montant:</td>
          <td><input type="number" /></td>
        </tr>
        <tr></tr>
      </table>
      <div class="BtnDiv">
        <input type="submit" value="ajouter" class="submitBtn" />
      </div>
    </div>
  </form>
</div>
